<%= render partial: 'users/show' %>
<% if @tenant.property %>
<div class='pl-3'>
<p><b>Current Address:</b> <%= link_to @tenant.property.address, tenant_previous_property_path(@tenant, @tenant.property), :class => 'back' %></p>
<% end %>

<% if !@tenant.previous_properties.empty? %>
<p><b>Previous Addresses:</b></p>
  <ul>
    <% @tenant.previous_properties.each do |property| %>
        <li><%= link_to property.address, tenant_previous_property_path(@tenant, property), :class => 'back' %></li>
    <% end %>
  </ul>
<% end %>
</div>
