<h1>Welcome to LetSpace!</h1>
<h2>Let's find a perfect home together...</h2>
<h3><%= link_to "I'm a landlord!", landlord_welcome_path %></h3>
<h3><%= link_to "I'm a tenant!", tenant_welcome_path %></h3>