<%= render partial: 'users/show' %>
<div class="pl-3">
<p class="btn btn-outline-dark"><%= link_to "Manage Your Properties", landlord_properties_path(@landlord), :class => "text-decoration-none", :style=>"color: white" %></a>
</div>